body {
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.d-flex{
  display: flex;
}
.jusArond{
  justify-content: space-around;
}
.green{
  color: #70c446;
}
.gray{
  color:  #1e252b;
}
.select {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 135px;

  h1 {
    padding-right: 135px;
    font-size: 26px;
  }

  select {
    background-color: #1e252b;
    padding-left: 296px;
    color: #ffff;
  }
}
.coins {
  display: flex;
  margin-top: 84px;
  justify-content: center;

  .ethereum {
    background-image: url("../img/EthereumBg.png");
    width: 18.7%;
    height: 353px;
    text-align: center;
    margin-left: 30px;
      h1{
        margin: 24px 0 18px 0;
        color: #ffffff;
        font-size: 27px;
      }
     .price{
       display: flex;
       justify-content: space-around;
       color: #ffff;
       padding-top: 20px;
       font-size: 22px;
     }
    .change{
      display: flex;
      justify-content: space-around;
      color: #ffff;
      padding-top: 18px;
    }


  }
}
